<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hiker</title>
    <link href="./style/style.css" rel="stylesheet">
</head>
<body>
<form method="POST" action="./hiker.hbs" id="form1">
<input type="submit" value="KIJELENTKEZES" id="submit3">
</form>
<h1>
Tura hozzaadasa:
</h1>
<form method="POST" action="./hikers" id="form1">
    <label>Helyseg:</label>
    <input type="text" id="loc" name="loc"><br><br>

    <label>Kezdo datum:</label>
    <input type="text" id="sd" name="sd"><br><br>

    <label>Vegso datum:</label>
    <input type="text" id="ed" name="ed"><br><br>

    <label>Tura tipusa:</label>
     <input type="text" id="ht" name="ht"><br><br>

    <label>Venzeto ID-je</label>
         <input type="number" id="vid" name="vid"><br><br>

    <input type="submit" value="Submit" id="submit2">

</form>


{{#each this }}
    <div>
        <p>{{location}}</p>
        <p>{{startDate}}</p>
        <p>{{endDate}}</p>
        <p>{{typeHiker}}</p>
        <p>{{organizerId}}</p>
        <hr/>
    </div>
{{/each}}
</body>
</html>